* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #1f1f1f;

}
    

header{
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background-color: #1f1f1f;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Inter ', sans-serif;
    border-bottom: 0.1px solid rgb(255, 255, 255);
}

a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 100px;
}

.header-txt {
    color: white;
    text-decoration: none;
}

.Logo {
    display: flex;
    align-items: center;
}

.Logo img{
    width: 150px;
}

.introducao h1 {
    margin-top: 60px;
    margin-left: 80px;
    font-family: 'Inter', sans-serif;
    color: white;
    line-height: 1.5em;
    font-size: 2.5em;
    word-spacing: 9px;
    font-weight: 600;
    letter-spacing: 2px;

}